.vscode/
M.1_Javascript_Avanzado/**/logs
M.1_Javascript_Avanzado/**/*.log
M.1_Javascript_Avanzado/**/npm-debug.log*
M.1_Javascript_Avanzado/**/yarn-debug.log*
M.1_Javascript_Avanzado/**/yarn-error.log*
M.1_Javascript_Avanzado/**/firebase-debug.log*
M.1_Javascript_Avanzado/**/firebase-debug.*.log*
M.1_Javascript_Avanzado/**/.firebase/
M.1_Javascript_Avanzado/**/pids
M.1_Javascript_Avanzado/**/*.pid
M.1_Javascript_Avanzado/**/*.seed
M.1_Javascript_Avanzado/**/*.pid.lock
M.1_Javascript_Avanzado/**/lib-cov
M.1_Javascript_Avanzado/**/coverage
M.1_Javascript_Avanzado/**/.nyc_output
M.1_Javascript_Avanzado/**/.grunt
M.1_Javascript_Avanzado/**/bower_components
M.1_Javascript_Avanzado/**/.lock-wscript
M.1_Javascript_Avanzado/**/build/Release
M.1_Javascript_Avanzado/**/node_modules/
M.1_Javascript_Avanzado/**/.npm
M.1_Javascript_Avanzado/**/.eslintcache
M.1_Javascript_Avanzado/**/.node_repl_history
M.1_Javascript_Avanzado/**/*.tgz
M.1_Javascript_Avanzado/**/.yarn-integrity
M.1_Javascript_Avanzado/**/.env
M.1_Javascript_Avanzado/**/.dataconnect
M.2_Fund_Backend/**/node_modules/
M.2_Fund_Backend/node.js/primeros_pasos/
M.2_Fund_Backend/node.js/Testing/
M.2_Fund_Backend/firebase/
M.2_Fund_Backend/Github_Avanzado/
M.2_Fund_Backend/render/
M.2_Fund_Backend/scrum-trello/
M.2_Fund_Backend/BBDD/No_Relacionales/Server/secrets.env
M.3_Fund_Frontend/
#M.3_Fund_Frontend/DevOps
#M.3_Fund_Frontend/React