M.2_Fund_Frontend/node.js/*/node_modules/
M.2_Fund_Frontend/firebase/*/logs
M.2_Fund_Frontend/firebase/*/*.log
M.2_Fund_Frontend/firebase/*/npm-debug.log*
M.2_Fund_Frontend/firebase/*/yarn-debug.log*
M.2_Fund_Frontend/firebase/*/yarn-error.log*
M.2_Fund_Frontend/firebase/*/firebase-debug.log*
M.2_Fund_Frontend/firebase/*/firebase-debug.*.log*
M.2_Fund_Frontend/firebase/*/.firebase/
M.2_Fund_Frontend/firebase/*/pids
M.2_Fund_Frontend/firebase/*/*.pid
M.2_Fund_Frontend/firebase/*/*.seed
M.2_Fund_Frontend/firebase/*/*.pid.lock
M.2_Fund_Frontend/firebase/*/lib-cov
M.2_Fund_Frontend/firebase/*/coverage
M.2_Fund_Frontend/firebase/*/.nyc_output
M.2_Fund_Frontend/firebase/*/.grunt
M.2_Fund_Frontend/firebase/*/bower_components
M.2_Fund_Frontend/firebase/*/.lock-wscript
M.2_Fund_Frontend/firebase/*/build/Release
M.2_Fund_Frontend/firebase/*/node_modules/
M.2_Fund_Frontend/firebase/*/.npm
M.2_Fund_Frontend/firebase/*/.eslintcache
M.2_Fund_Frontend/firebase/*/.node_repl_history
M.2_Fund_Frontend/firebase/*/*.tgz
M.2_Fund_Frontend/firebase/*/.yarn-integrity
M.2_Fund_Frontend/firebase/*/.env
M.2_Fund_Frontend/firebase/*/.dataconnect
M.3_Fund_Backend/