M.2_Fund_Backend/node.js/*/*/node_modules/
M.2_Fund_Backend/node.js/*/*/*/node_modules/
M.2_Fund_Backend/node.js/primeros_pasos/
M.2_Fund_Backend/node.js/Testing/
M.2_Fund_Backend/firebase/
M.2_Fund_Backend/BBDD/
M.2_Fund_Backend/Github_Avanzado/
M.2_Fund_Backend/render/
M.2_Fund_Backend/scrum-trello/
#M.2_Fund_Backend/firebase/*/logs
#M.2_Fund_Backend/firebase/*/*.log
#M.2_Fund_Backend/firebase/*/npm-debug.log*
#M.2_Fund_Backend/firebase/*/yarn-debug.log*
#M.2_Fund_Backend/firebase/*/yarn-error.log*
#M.2_Fund_Backend/firebase/*/firebase-debug.log*
#M.2_Fund_Backend/firebase/*/firebase-debug.*.log*
#M.2_Fund_Backend/firebase/*/.firebase/
#M.2_Fund_Backend/firebase/*/pids
#M.2_Fund_Backend/firebase/*/*.pid
#M.2_Fund_Backend/firebase/*/*.seed
#M.2_Fund_Backend/firebase/*/*.pid.lock
#M.2_Fund_Backend/firebase/*/lib-cov
#M.2_Fund_Backend/firebase/*/coverage
#M.2_Fund_Backend/firebase/*/.nyc_output
#M.2_Fund_Backend/firebase/*/.grunt
#M.2_Fund_Backend/firebase/*/bower_components
#M.2_Fund_Backend/firebase/*/.lock-wscript
#M.2_Fund_Backend/firebase/*/build/Release
#M.2_Fund_Backend/firebase/*/node_modules/
#M.2_Fund_Backend/firebase/*/.npm
#M.2_Fund_Backend/firebase/*/.eslintcache
#M.2_Fund_Backend/firebase/*/.node_repl_history
#M.2_Fund_Backend/firebase/*/*.tgz
#M.2_Fund_Backend/firebase/*/.yarn-integrity
#M.2_Fund_Backend/firebase/*/.env
#M.2_Fund_Backend/firebase/*/.dataconnect
M.3_Fund_Frontend/
#M.3_Fund_Frontend/BBDD/No_Relacionales/